@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.main {
 border: 0px solid red;
 padding: 20px;
 display: flex;
}
.filter {
 border: 0px solid green;
 width: 30%;
}
.data {
 border: 0px solid purple;
 width: 70%;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 1.25rem;
}
.fur_card {
 border: 3px solid white;
 padding: 10px;
 text-align: left;
 border-radius: 8px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 transition: all 0.5s;
 cursor: pointer;
}
.fur_card:hover {
 border: 3px solid #004387;
 border-radius: 8px;
}
.fur_card > img {
 width: 100%;
 border-radius: 8px;
}
.extras > h4 {
 font-size: 1.25rem;
 font-weight: 500;
 line-height: 21px;
 margin: 0.62rem;
}
.extras > h5 {
 font-weight: 700;
 color: #004387;
 margin: 0.62rem;
}
.extras > p {
 color: rgb(255, 0, 21);
 margin: 0.62rem;
}





form {
 box-shadow: rgba(21, 60, 167, 0.938) 0px 3px 8px;
 text-align: left;
 width: 90%;
 border-radius: 8px;
 padding: 20px;
 margin: 0px 20px;
}
form > h2 {
 font-size: revert;
 margin:10px 0px ;
}
form > hr {
 margin: 10px 0px 0px 0px;
}
label {
 padding: 0px 5px;
 margin: 5px 15px;
 cursor: pointer;
 transition: all 0.2s;
}
input{
    accent-color:#004387;
}
label:hover {
 color:#004387;
 font-weight: 600;
}
input[type="radio"] {
 color: #004387;
}
